.content_left {
    height: 100vh;
    overflow: hidden;;
    width: 60%;
    background-color: #f2f2f7;
}
.content_left,.box{
    overflow-x: hidden;
    overflow-y: scroll;
}

.content_left::-webkit-scrollbar {
    display: none;
}
.box {
    padding: 0;
    border-radius: 10px;
    border: none;
    width: 40%;
    overflow: auto;
    height: 500px;
}
.box::-webkit-scrollbar{
    display: none;
}